* {
    margin: 0;
    padding: 0;
}

.wrap {
    position: relative;
}

.people {
    width: 50px;
    height: 50px;
    background: url(/static/img/people.png);
    position: absolute;
    left: 0;
    top: 0;
}