$base: 50px;
$animation: all .3s;
.box {
    position: absolute;
    width: $base;
    height: $base;
    background: url(/static/img/box.png);
    background-size: $base $base;
    transition: $animation;
}

.people {
    position: absolute;
    width: $base;
    height: $base;
    background: url(/static/img/people.png);
    background-size: $base $base;
    transition: $animation;
}

.out {
    background: url(/static/img/box.png);
    background-size: $base $base;
}

.in {
    background: url(/static/img/box-in.png);
    background-size: $base $base;
}