$base: 50px;
$animation: all .3s;
.box {
    position: absolute;
    width: $base;
    height: $base;
    background-size: $base $base;
    transition: $animation;
}

.people {
    position: absolute;
    width: $base;
    height: $base;
    background-size: $base $base;
    transition: $animation;
}